### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Ignore any node modules, wherever they are
node_modules/

# Don't source control the build output
/dist

# Ignore my test outputs
.azunit/
.nyc_output/

# Test harness
run.sh